@charset "UTF-8";
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --logo-color: #000000;
  --hero-bcg: rgba(47, 48, 58, 0.4);
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --btn-text-color: #ffffff;
  --btn-focus-bg: #188ce8;
  --btn-box-shadow: rgba(0, 0, 0, 0.15);
  --border-color: #afb1b8;
  --social-color: #afb1b8;
  --team-background-color: #f5f4fa;
  --border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --portfolio-btn-back-color: #f5f4fa;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
  --color-social-footer: rgba(255, 255, 255, 0.1);
  --card-back: rgba(33, 150, 243, 0.9);
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bg: rgba(0, 0, 0, 0.1);
  --color-back: transparent;
  --color-social: currentColor;
  --color-clients: currentColor;
  /* --color-social-footer: currentColor; */
  --color-mail: currentColor;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.item {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-right: 305px;
  }
}

.header-info {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0;
  }
}
@media screen and (max-width: 1199px) {
  .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-info {
    margin-right: -20px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list .item + .item {
    margin-left: 50px;
  }
}

.nav__list .link {
  display: block;
}
@media screen and (max-width: 767px) {
  .nav__list .link {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .menu {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}

.nav__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  padding-top: 16px;
  padding-bottom: 16px;
}
.nav__logo--accent {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.nav__logo--accent {
  color: var(--accent-color);
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
  }
}

/* 
  ##########################################  
  УСТАНОВКА ПОЛОСКИ ПОД АКТИВНОЙ СТРАНИЦЕЙ 
  ##########################################
  */
.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
  -webkit-transition: color 250ms var(--timing);
  transition: color 250ms var(--timing);
}
.nav__link--active {
  color: var(--accent-color);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav__link--active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 767px) {
  .nav__link--active::after {
    display: none;
  }
}

.nav__link.nav__link--active::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  display: block;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .nav__link.nav__link--active::after {
    display: none;
  }
}

/* ########################################## */
@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts__item > .contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--timing);
  transition: color 250ms var(--timing);
}
@media screen and (min-width: 768px) {
  .contacts__item > .contacts__link {
    color: var(--secondary-color);
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .contacts__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
}

.nav__link--active {
  color: var(--accent-color);
}

.nav__list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .nav__list .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.contacts__item .icon {
  margin-right: 10px;
}

.contacts__link:hover > .icon,
.contacts__link:focus > .icon {
  --color-mail: var(--accent-color);
}

.header__menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 3;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.header__menu-button .icon-cross {
  display: none;
}
.header__menu-button:hover .icon-cross, .header__menu-button:focus .icon-cross {
  fill: var(--accent-color);
}
.header__menu-button:hover .icon-menu, .header__menu-button:focus .icon-menu {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-button.is-open .icon-cross {
  display: block;
}
.header__menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

.mobile__menu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}
.mobile__menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--btn-text-color);
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    padding: 0;
    width: auto;
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link--tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .contacts__item--tel {
    margin-left: 0;
    margin-top: 200px;
    margin-bottom: 32px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link--mail {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts__social-list {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .contacts__social-list {
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__social-item {
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
}
.contacts__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.contacts__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  background-color: var(--hero-background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-page/overlay/overlay.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-page/overlay/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  max-width: 480px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 118px 0;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
  }
}

.hero__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--btn-text-color);
    margin-top: 0;
    padding-top: 90px;
  }
}

/* ?Для кнопки ставим инлайн-блок */
.hero__modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px var(--btn-box-shadow);
          box-shadow: 0px 4px 4px var(--btn-box-shadow);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: 0;
  display: inline-block;
  padding: 10px 32px;
}
.hero__modal-btn:hover, .hero__modal-btn:focus {
  background-color: var(--btn-focus-bg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing), -webkit-transform 250ms var(--timing);
  transition: opacity 250ms var(--timing), -webkit-transform 250ms var(--timing);
  transition: transform 250ms var(--timing), opacity 250ms var(--timing);
  transition: transform 250ms var(--timing), opacity 250ms var(--timing), -webkit-transform 250ms var(--timing);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: opacity 250ms var(--timing), -webkit-transform 250ms var(--timing);
  transition: opacity 250ms var(--timing), -webkit-transform 250ms var(--timing);
  transition: transform 250ms var(--timing), opacity 250ms var(--timing);
  transition: transform 250ms var(--timing), opacity 250ms var(--timing), -webkit-transform 250ms var(--timing);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  border-radius: 4px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--btn-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing);
  transition: color 250ms var(--timing);
  opacity: 0.3;
}
.modal__button--close:hover, .modal__button--close:focus {
  color: var(--accent-color);
  opacity: 1;
}

.modal__contacts {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
}

.modal__contacts--text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 0;
  color: var(--main-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  cursor: pointer;
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  -webkit-transition: border 250ms var(--timing);
  transition: border 250ms var(--timing);
  outline: none;
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin-top: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: border 250ms var(--timing);
  transition: border 250ms var(--timing);
  outline: none;
}
.modal-form__area:hover, .modal-form__area:focus {
  border: 1px solid var(--accent-color);
}
.modal-form__area::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__label-check {
  position: relative;
}

.modal-form__checkbox-overlay {
  position: absolute;
  top: 3px;
  left: 12px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms var(--timing);
  transition: -webkit-transform 250ms var(--timing);
  transition: transform 250ms var(--timing);
  transition: transform 250ms var(--timing), -webkit-transform 250ms var(--timing);
}

.modal-form__checkbox-svg {
  position: absolute;
  top: 3px;
  left: 12px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms var(--timing);
  transition: -webkit-transform 250ms var(--timing);
  transition: transform 250ms var(--timing);
  transition: transform 250ms var(--timing), -webkit-transform 250ms var(--timing);
}

.modal-form__input-check:not(:checked) ~ .modal-form__checkbox-svg {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal-form__input-check:not(:checked) ~ .modal-form__checkbox-overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-form__check-text {
  color: var(--secondary-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 36px;
}

.modal-form__license-link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal-form__send-btn {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 55px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.modal-form__send-btn:hover, .modal-form__send-btn:focus {
  background: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  -webkit-transition: fill 250ms var(--timing);
  transition: fill 250ms var(--timing);
}

.modal-form .input:hover ~ .modal-form__icon,
.modal-form .input:focus ~ .modal-form__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .quality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.quality__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 94px;
  margin-bottom: 94px;
}
@media screen and (max-width: 767px) {
  .quality__list {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .quality__list {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.quality__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .quality__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .quality__item {
    width: 354px;
  }
  .quality__item:nth-child(odd) {
    margin-right: 30px;
  }
  .quality__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .quality__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .quality__item {
    width: 270px;
  }
  .quality__item:not(:last-child) {
    margin-right: 30px;
  }
}

.quality .item {
  width: 270px;
}

.quality__list .item + .item {
  margin-left: 30px;
}

.quality__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .quality__title {
    text-align: left;
  }
}

.quality__descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.quality-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  height: 120px;
  background: var(--portfolio-btn-back-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.section-work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .section-work {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.work__title {
  margin-bottom: 50px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__list .item + .item {
  margin-left: 30px;
}

.img-descr {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  width: 370px;
  max-height: 70px;
  margin: 0;
  border: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__list .item {
  position: relative;
}

.team-section {
  background-color: var(--team-background-color);
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .team__list .team__item + .team__item {
    margin-left: 30px;
  }
}

.team__item {
  max-width: 450px;
  background: var(--btn-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.team__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .team__item:nth-child(odd) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1199px) {
  .team__item {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item:nth-child(odd) {
    margin-right: 0px;
  }
}
.work__team {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 0;
}

/**********
CARD
  ************/
.team__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.overlay__icon {
  color: var(--social-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--btn-text-color);
  -webkit-transition: color 250ms var(--timing), background-color 250ms var(--timing);
  transition: color 250ms var(--timing), background-color 250ms var(--timing);
}

.overlay__link:hover > .overlay__icon,
.overlay__link:focus > .overlay__icon {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
}

.list .overlay__item + .overlay__item {
  margin-left: 10px;
}

.clients__title {
  margin-bottom: 50px;
  padding-top: 60px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

/*************
   CLIENTS ICONS
  **************/
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .clients__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 1199px) {
  .clients__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .clients__item:nth-child(odd) {
    margin-right: 30px;
  }
}
.clients__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}
.clients__item:nth-child(odd) {
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .clients__item:nth-child(odd) {
    margin-right: 0;
  }
}
.clients__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .clients__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 479px) {
  .clients__item:nth-child(odd) {
    margin-right: auto;
  }
}
@media screen and (max-width: 449px) {
  .clients__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: 226px;
        flex-basis: 226px;
  }
  .clients__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .clients__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
    margin-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__overlay {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__overlay:hover, .clients__overlay:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .clients__overlay {
    width: -webkit-fill-available;
  }
}
@media screen and (min-width: 1200px) {
  .clients__overlay {
    width: 170px;
  }
}

.clients__overlay .clients__icon {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 18px 34px;
}
.clients__overlay .clients__icon:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  height: 92px;
}
.clients__link:hover, .clients__link:focus {
  --color-clients: var(--accent-color);
}

.clients__icon {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 18px 34px;
  color: var(--social-color);
  -webkit-transition: color 250ms var(--timing);
  transition: color 250ms var(--timing);
}

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
  color: var(--btn-text-color);
}
.footer__logo--accent {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    display: inline-block;
    margin-left: 61px;
    margin-right: 165px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.list-address .item + .item {
  margin-top: 9px;
}

.address {
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .address {
    width: 231px;
  }
}

.address__link {
  font-family: var(--contacts-link-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  -webkit-transition: color 250ms var(--timing);
  transition: color 250ms var(--timing);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__item {
  text-align: center;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .address__item {
    text-align: left;
  }
}

.address .list {
  padding-left: 0;
}

.contacts-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-color);
}

.footer__accent {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer__form {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.footer__form .footer__form--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-top: 12px;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .footer__form .footer__form--label {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__form .footer__form--label {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__form .footer__form--input {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: -webkit-fill-available;
}
.footer__form .footer__form--input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
}
.footer__form .footer__form--input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
}
.footer__form .footer__form--input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
}
.footer__form .footer__form--input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
}
.footer__form .footer__form--input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
}
@media screen and (min-width: 768px) {
  .footer__form .footer__form--input {
    width: 450px;
  }
}

.footer__form .footer__form--button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
  margin-left: 12px;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .footer__form .footer__form--button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
.footer__form--button > .icon {
  margin-left: 10px;
}

/**********
   icons 
   *********/
.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .join {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    text-align: inherit;
  }
}

.social {
  margin-left: 70px;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .social {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .social {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-top: 10px;
    margin-left: 0;
  }
}

.footer__join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__join .item + .item {
  margin-left: 10px;
}

.footer__join--icon > .icon {
  -webkit-transition: color 250ms var(--timing);
  transition: color 250ms var(--timing);
}

.footer__join--icon:hover > .icon,
.footer__join--icon:focus > .icon {
  --color-social-footer: var(--accent-color);
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .portfolio-filter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .btn_item:not(:last-child) {
    margin-right: 8px;
  }
  .btn_item:not(:nth-last-child(-n+2)) {
    margin-bottom: 15px;
  }
}

.portfolio-filter .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__btn {
  color: var(--main-color);
  background-color: var(--portfolio-btn-back-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 38px;
  -webkit-transition: color 250ms var(--timing), background-color 250ms var(--timing);
  transition: color 250ms var(--timing), background-color 250ms var(--timing);
}
.portfolio-filter__btn:hover, .portfolio-filter__btn:focus {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* !------------------------------------------------ */
/*  Portfolio cards */
.portfolio__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
  .portfolio__card-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .portfolio__card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio__card-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__card-info {
  padding: 20px 0px;
}

.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;
}

.portfolio-card__subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 24px;
}

.portfolio__card-item {
  background-color: var(--btn-text-color);
  border: 1px solid var(--portfolio-border-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing);
  transition: -webkit-box-shadow 250ms var(--timing);
  transition: box-shadow 250ms var(--timing);
  transition: box-shadow 250ms var(--timing), -webkit-box-shadow 250ms var(--timing);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .portfolio__card-item {
    width: 354px;
  }
  .portfolio__card-item:nth-child(odd) {
    margin-right: 30px;
  }
  .portfolio__card-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio__card-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card-item {
    width: 370px;
    margin-bottom: 30px;
  }
  .portfolio__card-item:nth-child(odd) {
    margin-right: 0;
  }
  .portfolio__card-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
  .portfolio__card-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}
.portfolio__card-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/************
   ANIMATION 
   ************/
.portfolio-card__descr {
  position: relative;
  overflow: hidden;
  height: 294px;
}
@media screen and (min-width: 1200px) {
  .portfolio-card__descr {
    width: 370px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-card__descr {
    max-width: 450px;
  }
}

.portfolio-card__text {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  background: var(--card-back);
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 300ms var(--timing);
  transition: -webkit-transform 300ms var(--timing);
  transition: transform 300ms var(--timing);
  transition: transform 300ms var(--timing), -webkit-transform 300ms var(--timing);
}

.portfolio__card-item:hover .portfolio-card__text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */