.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --btn-text-color: #ffffff;
  --team-background-color: #f5f4fa;
  --portfolio-btn-back-color: #f5f4fa;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}



/* header */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.accent {
  color: var(--accent-color);
}
.menu-link {
  color: var(--main-color);
}
.contact-link {
  color: var(--secondary-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.studio {
  color: var(--accent-color);
}
.portfolio {
  color: var(--accent-color);
}

/*main*/


/* Hero */
.hero {
  background-color: var(--hero-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-text-color);
}
.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
/*about us*/
.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-us-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* work */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Our team */
.our-team {
  background-color: var(--team-background-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;}
  