/* !Главная страница */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.item {
  text-decoration: none;
}
:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --btn-text-color: #ffffff;
  --team-background-color: #f5f4fa;
  --border-color: #ececec;
  --portfolio-btn-back-color: #f5f4fa;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color);
}
.head {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;
}
.header-list .item + .item {
  margin-left: 50px;
}
.header-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-info {
  margin-left: auto;
  /* margin-right: 215px; */
}
.header-line {
  display: flex;
}
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
/* margin-left: 215px; */
  margin-right: 93px;
}
.accent {
  color: var(--accent-color);
}
.menu-link {
  color: var(--main-color);
}
.contact-link {
  color: var(--secondary-color);
  
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.active {
  color: var(--accent-color);
}

/*===========================
          main
===========================*/

/* hidden title */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Hero */
	.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-text-color);

  margin-top: 0;
  margin-bottom: 30px;
}
.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
 cursor: pointer;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 background-color: var(--accent-color);
border: 0;
 display: inline-block;
 padding: 10px 32px;}


/*about us*/
.section {
 /* padding-top: 94px;
 padding-bottom: 94px; */
}
.about-us {
 display: flex;
 justify-content: center;

 margin-top: 94px;
 margin-bottom: 94px;
}
.about-us .item {
 width: 270px;
}
.about-us .item + .item {
 margin-left: 30px;
}
.about-us-title {
 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;

 margin-top: 0;
 margin-bottom: 0;
 margin-bottom: 10px;
}
.about-us-item {
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 color: var(--secondary-color);

 margin-top: 0;
 margin-bottom: 0;
}
/* Our team */

.section-work {
 padding-bottom: 94px;
}
.title {
 font-weight: 700;
 font-size: 36px;
 line-height: 1.17;
 text-align: center;
 letter-spacing: 0.03em;

 margin-top: 0;
 margin-bottom: 0;
}
.title-work {
 margin-bottom: 50px;
}
.list-work {
 display: flex;
}
.list-work .item + .item {
 margin-left: 30px;
}
/*########## OUR TEAM ############*/
.team-list {
 display: flex;
 padding-bottom: 94px;
}
.team-list .card + .card {
 margin-left: 30px;
}
.card {
 width: 270px;
 height: 368px;

 background: var(--btn-text-color);
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
}
.our-team {
 background-color: var(--team-background-color);
}
.title-team {
 margin-bottom: 50px;
 padding-top: 94px;
}
.team-info {
 padding: 30px 0px;
}
.team-name {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.19;
 text-align: center;
 letter-spacing: 0.03em;

 margin-top: 0;
 margin-bottom: 10px;
}
.team-prof {
 font-size: 16px;
 line-height: 1.19;
 text-align: center;
 letter-spacing: 0.03em;
 color: var(--secondary-color);

 margin-top: 0;
 margin-bottom: 0;
}

/*? СКРЫТЫЙ ЗАГОЛОВОК ПРОПИСЫВАТЬ ТАК: 

  .visually-hidden {
	position:absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
*/

/* footer */
.footer {
 background-color: var(--hero-background-color);
 padding-top: 60px;
 padding-bottom: 60px;
}
.link-logo-footer {
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
 color: var(--btn-text-color);

 margin-bottom: 20px;
}
.address {
  margin-top: 20px;
}
.list-address .item + .item {
 margin-top: 9px;
}
.address-link {
  font-family: var(--contacts-link-color);
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 color: var(--btn-text-color);
}
.address .list {
 padding-left: 0;
}
.contacts-link {
 font-size: 14px;
 line-height: 1.71px;
 letter-spacing: 0.03em;
 color: var(--contacts-link-color);
}

.address-link:hover,
.address-link:focus {
 color: var(--accent-color);
}
.contacts-link:hover,
.contacts-link:focus {
 color: var(--accent-color);
}


/* !Портфолио */

/* button */
.portfolio-btn {
  color: var(--main-color);
  background-color: var(--portfolio-btn-back-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
}

/* Portfolio cards */
.portfolio-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-item {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
