:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --logo-color: #000000;
  --hero-bcg: rgba(47, 48, 58, 0.4);
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --btn-text-color: #ffffff;
  --btn-focus-bg: #188ce8;
  --btn-box-shadow: rgba(0, 0, 0, 0.15);
  --border-color: #afb1b8;
  --social-color: #afb1b8;
  --team-background-color: #f5f4fa;
  --border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --portfolio-btn-back-color: #f5f4fa;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
  --color-social-footer: rgba(255, 255, 255, 0.1);
  --card-back: rgba(33, 150, 243, 0.9);
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bg: rgba(0, 0, 0, 0.1);
  --color-back: transparent;
  --color-social: currentColor;
  --color-clients: currentColor;
  /* --color-social-footer: currentColor; */
  --color-mail: currentColor;
}