.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);
  opacity: 1;
  transition: transform 250ms var(--timing), opacity 250ms var(--timing);
         

}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0, 0);
  transition: transform 250ms var(--timing), opacity 250ms var(--timing);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}


