.clients__title {
  margin-bottom: 50px;
  padding-top: 60px;
    font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

/*************
   CLIENTS ICONS
  **************/
.clients__list {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
 @media screen and (max-width: 1199px) {
    justify-content: space-between;
  
  margin-bottom: 60px;}

}

.clients__item {
   @media screen and (max-width: 1199px) {
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
 &:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
}

&:nth-child(odd) {
    margin-right: 30px;
    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  }

  &:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 479px) {
    &:nth-child(odd) {
      margin-right: auto;
    }
  }

  @media screen and (max-width: 449px) {
    flex-grow: 1;
  }

  @media screen and (min-width: 768px) {
    flex-basis: 226px;
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
      @media screen and (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 170px;
    margin-bottom: 94px;
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.clients__overlay {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-color);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
     width: -webkit-fill-available;

  }
@media screen and (min-width: 1200px) {
     width:170px;

  }
}

.clients__overlay .clients__icon {
  box-sizing: content-box;
  padding: 18px 34px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
//!PROBLEMS

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid #afb1b8;
  border-radius: 4px;
  // width: 170px;
  height: 92px;
  &:hover,
  &:focus {
    --color-clients: var(--accent-color);
  }
}

.clients__icon {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 18px 34px;
  color: var(--social-color);
  -webkit-transition: color 250ms var(--timing);
  transition: color 250ms var(--timing);
  
}
