.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
  color: var(--btn-text-color);

  &--accent {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    justify-content: flex-start;
  }
}

.footer__address {
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: 61px;
    margin-right: 165px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.list-address .item+.item {
  margin-top: 9px;
}

.address {
  margin: 0;

  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.address__link {
  font-family: var(--contacts-link-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  transition: color 250ms var(--timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.address .list {
  padding-left: 0;
}

.contacts-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__accent {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.subscribe {
  @media screen and (min-width: 1200px) {
    // margin-left: auto;
  }
}

.footer__form {
  position: relative;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}

.footer__form .footer__form--label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-top: 12px;
  margin-left: 93px;

  @media screen and (max-width: 767px) {
    margin-left: 0;
    align-items: center;
    margin-top: 60px;
  }

  @media screen and (max-width: 1199px) {
    margin-left: 0;
    align-items: center;
  }

}

.footer__form .footer__form--input {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-top: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  // width: 358px;
  background-color: transparent;

  width: -webkit-fill-available;



  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--contacts-link-color);
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }
}

.footer__form .footer__form--button {
  // position: absolute;
  // bottom: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
  margin-left: 12px;
  cursor: pointer;

  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  @media screen and (max-width: 1199px) {}
}

.footer__form--button>.icon {
  margin-left: 10px;
}

/**********
   icons 
   *********/
.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-top: 0;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    text-align: inherit;
  }
}



.social {
  margin-left: 70px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-top: 10px;
    margin-left: 0;
  }
}

.footer__join {
  display: flex;
}

.footer__join .item+.item {
  margin-left: 10px;
}

.footer__join--icon>.icon {
  transition: color 250ms var(--timing);
}

.footer__join--icon:hover>.icon,
.footer__join--icon:focus>.icon {
  --color-social-footer: var(--accent-color);
}