.modal {
  border-radius: 4px;
  background-color: var(--btn-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }

  @media screen and (max-width: 1199px) {
    width: 93.75vw;
    max-width: 450px;
    min-height: 609px;
  }
}

.modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms var(--timing);
  opacity: 0.3;

  &:hover,
  &:focus {
    color: var(--accent-color);
    opacity: 1;
  }
}

.modal__contacts {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
}

.modal__contacts--text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 0;
  color: var(--main-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  cursor: pointer;
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  transition: border 250ms var(--timing);
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.modal-form .input:hover~.modal-form__icon,
.modal-form .input:focus~.modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin-top: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: border 250ms var(--timing);
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__input-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__label-check {
  position: relative;
}

.modal-form__checkbox-overlay {
  position: absolute;
  top: 3px;
  // left: 12px;
  transform: scale(0);
  transition: transform 250ms var(--timing);
}

.modal-form__checkbox-svg {
  position: absolute;
  top: 3px;
  // left: 12px;
  transform: scale(1);
  transition: transform 250ms var(--timing);
}

.modal-form__input-check:not(:checked)~.modal-form__checkbox-svg {
  transform: scale(0);
}

.modal-form__input-check:not(:checked)~.modal-form__checkbox-overlay {
  transform: scale(1);
}

.modal-form__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  transition: fill 250ms var(--timing);
}

.modal-form__check-text {
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 24px;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form__license-link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.modal-form__send-btn {
  display: inline-block;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 55px;
  border: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  &:hover,
  &:focus {
    background: var(--accent-color);
  }
}