.quality {
  display: flex;
  justify-content: center;

  margin-top: 94px;
  margin-bottom: 94px;
}

.quality__list {
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}

.quality .item {
  width: 270px;
}

.quality .item + .item {
  margin-left: 30px;
}

.quality__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 10px;
}

.quality__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  max-width: 270px;
  margin-top: 0;
  margin-bottom: 0;
}

.quality-card {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--portfolio-btn-back-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
